body{
  margin: 0;
  padding: 0;
}
.menu-container{
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding: 5px;
  color: white;
}
.menu-items{
  display: flex;
}
.menu-items li{
  list-style: none;
  margin: 5px;
  padding: 10px;
  font-size: 10px;
}
.menu-items li:hover{
  color: blue;
  cursor: pointer;
}
.banner-container{
  color: white;
  display: flex;
  width: 100%;
  align-items: center;
  height: 100vh;
  background-color: black;
}
.banner-descprition{
  margin-left: 50px;
}
.banner-test{
  color: red;
  font-size: 24px;
}
.title-one{
  font-size: 60px;
  font-weight: bold;
}
.text{
  font-size: 25px;
}
.banner-btn{
  padding: 18px 38px;
  background-color: rgb(244, 6, 45);
  margin: 10px;
  font-size: 18px;
  color: white;
}

.section-two{
  margin-top: 70px;
  padding: 50px;
  display: flex;
  justify-content: space-evenly;
}
.title2{
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}
.card1{
  width: 320px;
  height: 250px;
  border: 1px solid gray;
  text-align: center;
  box-shadow: 8px 8px 16px gray;
  padding: 20px;
  border-radius: 10px;
  margin-top: 40px;
  transition: .8ms;
}
.card1:hover{
  border: 1px solid red;
  margin-top: -20px;
  transition: .8ms;
}
.gym-icon{
  width: 50px;
}

.about-contaner{
  display: flex;
  background-color: black;
  color: white;
}
.about-left{
  width: 700px;
  
}
.work-out-image{
  display: flex;
  margin-top: 50px;
}
.work-out-image img{
  display: flex;
  width: 350px;
  height: 550px;
  transform: skew(-15deg);
}
.btn-text{
  text-decoration: none;
  color: white;
}















































































