body{
  margin: 0;
  padding: 0;
}
.menu-container{
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding: 5px;
  color: white;
}
.menu-items{
  display: flex;
}
.menu-items li{
  list-style: none;
  margin: 5px;
  padding: 10px;
  font-size: 10px;
}
.menu-items li:hover{
  color: blue;
  cursor: pointer;
}
.banner-container{
  color: white;
  display: flex;
  width: 100%;
  align-items: center;
  height: 100vh;
  background-color: black;
}
.banner-descprition{
  margin-left: 50px;
}
.banner-test{
  color: red;
  font-size: 24px;
}
.title-one{
  font-size: 60px;
  font-weight: bold;
}
.text{
  font-size: 25px;
}
.banner-btn{
  padding: 18px 38px;
  background-color: rgb(244, 6, 45);
  margin: 10px;
  font-size: 18px;
  color: white;
}























































































